<% if(messages.success != null) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= messages.success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(messages.error != null) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% if(messages.error[0].param) { %>
        <% messages.error.forEach(value => { %>
            <%= value.msg %> <br>
        <% }) %>
    <% } else { %>
        <%= messages.error %>
    <% } %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>